* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(189 220 220);
}

main h1 {
  text-transform: uppercase;
  font-size: x-large;
  background-color: rgba(153, 213, 229, 0.644);
  width: fit-content;
  border-radius: 20px;
  padding: 10px;
  margin: 20px auto;
  transition: all 0.2s ease;
  box-shadow: 6px 4px 3px rgb(128 152 155 / 63%);
}

nav a {
  font-size: 17px;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  margin: 1px;
  text-decoration: none;
  padding: 6px;
  background-color: rgba(67, 131, 154, 0.741);
  border-radius: 10px;
  height: 20px;
  transition: all 0.2s ease;
}

nav {
  margin: 0px 0px 0px auto;
}

nav a:hover {
  background-color: rgb(3, 69, 93);
  transform: scale(1.05);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.642);
}

.heading:hover {
  text-shadow: 5px 5px 3px black;
}

.header {
  display: flex;
  text-align: center;
  font-size: 30px;
  width: 100%;
  box-sizing: border-box;
  padding: 25px;
  background-color: rgba(17, 65, 83, 0.741);
  color: rgb(249, 249, 249);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.details:hover {
  background-color: rgba(255, 255, 255, 0.618);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transform: scale(1.02);
 box-shadow: 5px 5px 10px rgb(105 147 153 / 80%);
}

.about {
  font-size: large;
  width: 70vw;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  transition: all 0.3s ease;

}

.education {
  scroll-margin-top: 100px;
  transition: all 0.2s ease;
  font-size: 20px;
  text-align: center;
  width: 70vw;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
}

.contect {
  scroll-margin-top: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  width: 70vw;
  margin: auto;
  padding: 40px;
  border-radius: 20px;
  transition: all 0.2s ease;
  overflow: auto;

}

.skills {
  scroll-margin-top: 100px;
  display: flex;
  margin: auto;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #e0eeeee2;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5vw;

}

.box:hover {
  background-color: rgba(255, 255, 255, 0.471);
  box-shadow: 10px 10px 5px;
  transform: scale(1.02);
}

.box {
  width: 33vw;
  padding: 25px;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 30px;
  transition: all 0.2s ease;
  background-color: #bcebebe2;


}

@media(max-width:800px) {
  .box {
    width: 90vw;
    padding: 25px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px;
    transition: all 0.2s ease;
    background-color: #bcebebe2;
  }

  .header {
    text-align: center;
    font-size: 25px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
  nav a{
    font-size: 13px;
    padding: 5px;
  }
}

.details {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #e0eeeee2;
}

footer {
  padding: 1px;
  height: 3vh;
  ;
  margin-top: 7vh;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.995);
  color: black;
}